:root {
  font-family: 'Permanent Marker', cursive;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light;
  color: black;
  background-color: antiquewhite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  flex: 1;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-height: 100vh;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Permanent Marker', cursive;
}
